<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>mint.mvc.core.ServiceServlet</servlet-class>
		<init-param>
			<param-name>actionPackages</param-name>
			<param-value>demo</param-value>
		</init-param>
		<init-param>
			<param-name>uploadTemp</param-name>
			<param-value>/static/</param-value>
		</init-param>
		<init-param>
			<param-name>template</param-name>
			<param-value>Jsp</param-value>
		</init-param>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>